@media screen and (max-width:993px) {
    .container{
        padding: 0rem 7rem;
    }

/* banner start */

    .banner-section{
        flex-direction: column-reverse;
    }

    .banner-section > div{
        width: 100%;
        text-align: center;
        background-position: center;
        background-size: contain;
    }

    .products-container {
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        gap: 2rem;
    }

    .newslater-section{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .newslater-content{
        text-align: center;
        width: 100%;
        padding: 0;
    }

}



@media screen and (max-width:769px) {
    .container{
        padding: 0rem 4rem;
    }

    #mmi{
        display: inline;
    }

    .menu{
        display: none;
    }

    .image-holder{
        gap: 3rem;
    }

    .products-container {
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        gap: 2rem;
    }

}



@media screen and (max-width:577px) {
    .container{
        padding: 0rem 2rem;
    } 

    .banner-title{
        font-size: 3rem;
    }

    .banner-left> .paragraph{
        padding: 1rem 0;
    }

    .image-holder{
        gap: 2rem;
    }

    .products-container {
        grid-template-columns: repeat(1, 100%);
        justify-content: space-between;
        gap: 3rem;
    }

    .button-container{
        text-align: center;
    }
}



@media screen and (max-width:480px) {
    .banner-title{
        font-size: 2rem;
    } 
    .banner-image{
        width: 100%;
    }

    .newslater-image{
        width: 100%;
    }

}



@media screen and (max-width:380px) {
    
}