* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 0px 10rem;
}

.d-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.sec-padd{
    margin: 3.5rem 0rem;

}

.t-r {
    text-align: right;
}

.paragraph {
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.default-button {
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    border: none;
    border-radius: 3rem;
    background: #E02C6D;
    padding: 0.63rem 1.5rem;
}

/* default css end */

/* header css start */
header{
    padding: 3.5rem 0rem;

}

header>nav>ul.menu {
    gap: 2rem;
    list-style: none;
}

.logo {
    cursor: pointer;
}

header .menu-item {
    cursor: pointer;
}

#mmi {
    display: none
}

/* header css end  */

/* banner css start */
.banner-left {
    width: 50%;
}

.banner-title {
    font-size: 3.5rem;
}

.banner-left> .paragraph{
    padding: 1.8rem 0;
}

.banner-right {
    width: 50%;
    background: url('./images/Circle\ design.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
}

/* .banner-image{
    width: 100%;
} */
/* banner css end  */

/* brand css start */


.image-holder{
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    padding: 1.8rem;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
/* brand css end  */